############################
### Ignore the following ###
############################

# Ignore the following extensions:
##################################

*.fits
*.pdf
*.dat
*.isc_2mass

# Ignore the following files:
#############################
/Users/joshpovick/Desktop/research/Magellanic_Ages/BaSTI/basti_monarch.dat
/Users/joshpovick/Desktop/research/Magellanic_Ages//basti_monarch.dat
